@import 'colours.scss';

.todo-form {
    margin: 1rem 0;
    position: relative;

    .check-btn {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid $dark-grayish-blue-2;
    }

    input {
        width: 100%;
        padding: 1rem;
        padding-left: 50px;
        font-size: 18px;
        color: $light-grayish-blue-2;
        background-color: $very-dark-desaturated;
        border: none;
    }
}

.light-mode .todo-form{
    input {
        color: hsl(235deg, 24%, 19%);
    }

    input, .check-btn {
        background-color: $very-light-gray;
    }
}