@import 'colours.scss';

.todo-list {
    background-color: $very-dark-desaturated;
    height: 330px;
    overflow-y: scroll;

    .todo {
        padding: .8rem;
        font-size: 18px;
        position: relative;
        padding-left: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        vertical-align: middle;
        border-bottom: 1px solid hsl(233, 14%, 35%);
        cursor: pointer;

        .check-btn{
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 25px;
            background-clip: padding-box;
            
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 1px solid $dark-grayish-blue-2;
            cursor: pointer;
        }

        .check-btn:hover {
            border-color: $check-background-2;
        }

        img {
            opacity: 0;
            transition: opacity 1;
        }

        &:hover > img{
            opacity: 1;
        }
    }
}

::-webkit-scrollbar{
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-ms-scrollbar {
    display: none;
}

.check-task {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
    
    .check-btn{
        background-image: linear-gradient(90deg, $check-background-1, $check-background-2);

        .img-container {
            width: 25px;
            height: 25px;
            background: url('../images//icon-check.svg') no-repeat center;
        }
    }
}

.light-mode #root .app .todo-list {
    background-color: $very-light-gray;
    color: hsl(235deg, 24%, 19%);
    box-shadow: 5px 5px 83px #0000000f, 5px 5px 83px #0000000f;

    .todo {
        border-color: $light-grayish-blue;

        .check-task {
            color: $very-light-grayish-blue !important; 
        }
    }
}